* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(122, 141, 170);
  }

  .navbar {
    width: 100%;
    padding: 0px;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; 
    text-align: center; 
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: #0483aa;
  }

  /*will implement shrinking header next*/
  header {
    background-color: rgb(122, 141, 170);
    text-align: center;
    font-size: 35px;
    color: white;
  }
  /*Text under the main portion of the Header*/
  .subtitle{
    font-size: 25px;
    margin-bottom: 35px;
    color:rgb(198, 239, 253);
  }
  
  /* Create two columns/boxes that floats next to each other */
  /*not really a navigation bar now...*/
  nav {
    float: left;
    width: 20%;
    height: auto; 
    background: rgb(168, 167, 167);
    padding: 20px;
    padding-top:0px;
  }

  /*redesigning "article" column setup, I'll try to line it up with the nav soon*/
  .row {
    display: flex;
  }
  
  .column-left {
    flex: 25.5%;
    background: rgb(168, 167, 167);
    padding: 20px;
    padding-top:0px;
  }
  /*text content*/
  .column-right{
    flex: 74.5%;
    padding: 20px;
    background-color: #d6d4d4;
    height: 50%; 
    font-size: large;
  }
  
  /* Style the footer */
  footer {
    background-color: rgb(122, 141, 170);
    padding-top: 25px;
    text-align: center;
    color: white;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -ms-transform: translateY(+10%);
    transform: translateY(+10%);
  }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 1200px) {

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      -ms-transform: translateY(-2%);
      transform: translateY(-2%);
    }
  }
  @media screen and (max-width: 550px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }

  /*trying to add modal images*/
