* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(122, 141, 170);
    /*the flex box started stretching past the browser and this was the only quick fix that's "worked" so far... to be fixed*/
    overflow-x: hidden;
  }

  /*will implement shrinking header next*/
  header {
    background-color: rgb(122, 141, 170);
    text-align: center;
    font-size: 35px;
    color: white;
  }
  /*header id for header test*/
  /*sticky nav will be done next so it doesn't dissapear lol*/
  #header {
    /*slightly diff color to separate from main bckgrd*/
    background-color: rgb(140, 162, 194); 
    padding: 3px 0;
    color: rgb(220, 245, 253);
    text-align: center; 
    font-size: 35px; 
    font-weight: bold;
    position: sticky; 
    top: 0;
    z-index: 1;
    width: 100%; 
    transition: 0.2s; 
  }

  /*Text under the main portion of the Header*/
  .subtitle{
    font-size: 15px;
    /*margin-bottom: 35px;*/
    color:rgb(198, 239, 253);
    transition: 0.4s;
  }

  .navbar {
    width: 100%;
    padding: 0px;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 33%; 
    text-align: center; 
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: #0483aa;
  }

  /*redesigning "article" column setup, I'll try to line it up with the nav soon*/
  .row {
    display: flex;  
  }
  .column-left {
    flex: 25.5%;
    background: rgb(168, 167, 167);
    padding: 20px;
  }
  /*text content*/
  .column-right{
    flex: 74.5%;
    padding: 20px;
    background-color: #d6d4d4;
    height: 50%; 
    font-size: large;
  }

  .speech{
    font-weight: bolder;
    text-align: center; 
    margin-top: 1%; 
    margin-bottom: 0%;
  }
  
  /* Style the footer */
  footer {
    background-color: rgb(122, 141, 170);
    padding-top: 20px;
    text-align: center;
    color: white;
  }

  a {
    color: #0483aa;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -ms-transform: translateY(+10%);
    transform: translateY(+10%);
    padding-left: 3%;
  }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 1320px) {
    
    .speech{
      text-align: center; 
      margin-top: 2%; 
      margin-bottom: 2%;
    }
    
    .center {
      display: block;
      margin-left:auto;
      margin-right:auto;
      min-width: 330px;
      -ms-transform: translateY(-2%);
      transform: translateY(-2%);
    }
    .column-left {
      flex: 25.5%;
      background: rgb(168, 167, 167);
      padding-top:0px;
      
    }
    .column-right{
      flex: 74.5%;
      padding: 20px;
      padding-left: 25px;
      background-color: #d6d4d4;
      height: 50%; 
      font-size: large;
    }
    
  }
  @media screen and (max-width: 550px) {

    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
    
  }

